*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    transition: background-color 1s;
}

.dark{
    background-color: black;
}

.container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.logo{
    font-size: 3em;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
}

.moon-logo{
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 500ms ease-out;
}

.sun-logo{
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
    transition: all 500ms ease-out;
}

.animate-moon{
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
}

.animate-sun{
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
}
